body{
   margin: 0;
   padding:0;
   box-sizing:border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

#canvas{
   border: 2px solid black; 

   width: 500px;
   height: 500px;
}

.button{
   position: absolute;
   top:90vh;



}

.alphabet{
position: absolute;
top: 8vh;   
font-size: 50px;
}

